* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: "Lato", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border: 2px solid black;
  padding: 15px;
  position: relative;
}

.header {
  position: absolute;
  top: 50px;
}

.generate-btn {
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 4px;
  color: white;
  background: black;
}

.type-code {
  margin: 15px;
  text-align: center;
  border: 2px solid black;
  height: 40px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.enter-code {
  margin: 4px;
  padding: 10px;
  height: 40px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  background: blue;
}

.generated-code {
  margin: 20px;
  text-align: center;
}
