* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.scoreboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  height: 150px;
  width: 70%;
  left: 330px;
}

.player-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  width: 50%;
  height: 100%;
}

.player-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  width: 50%;
  height: 100%;
}

.SCMulti-username {
  margin: 10px;
}

.SCMulti-WPM {
  margin: 10px;
}
