* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: "Lato", sans-serif;
}

.typeRacer-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border: 2px solid black;
  padding: 15px;
  position: absolute;
  top: 30%;
  left: 36%;
  width: 30%;
}

.typeRacer-invite-btn {
  cursor: pointer;
  height: 35px;
  width: 150px;
  font-size: 15px;
  margin-bottom: 40px;
  text-align: center;
  background: black;
  color: white;
  border-radius: 4px;
}

.typeRacer-para-container {
  margin: 30px;
  text-align: center;
}

.typeRacer-input_button-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}
#inputValue {
  text-align: center;
  height: 40px;
  font-size: 15px;
}

.typeRacer-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.typeRacer-timer {
  padding: 15px;
  margin: 10px;
  background: #333;
  color: white;
  border-radius: 3px;
  font-size: 20px;
}

.typeRacer-start_btn {
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  background: #428bca;
  color: white;
  border-radius: 3px;
  font-size: 20px;
}

#typedValue {
  margin: 30px;
}

.typeRacer-span-color {
  color: black;
}

.typeRacer-span-color-green {
  color: green;
}

.typeRacer-span-color-red {
  color: red;
}
